
.container {
  flex: 1;
  background-color: #fff;
  text-align: center;
}

.digit {
  font-size: 48px;
  border-right: 1px solid transparent;
}

.separator {
  font-size: 20px;
  padding-right: 18px;
}